* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.gradient{
    background: linear-gradient(45deg, #182747, #562B08, #647E68, #D8D8D8);
    animation: colors 10s ease infinite;
    background-size: 300% 300%;
}

ul{
    list-style: none;
}

body * {
    font-family: 'inter', sans-serif;
}

header{
    margin-top: 32px;
    text-align: center;
    height: calc(120px + 32px);
}

header div{
    width: 120px;
    margin: auto;
    background: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%, #E2D45C 100%);

    border-radius: 50%;

    display: flex;
    padding: 4px;

    transition: transform .3s;

}
header div:hover{
    transform: scale(1.1);
}

header img{
    width: 120px;
    border-radius: 50%;
}

main{
    display: grid;
    gap: 24px;
    max-width: 580px;
    width: 90%;
    margin: 32px auto;
    margin-top: 32px;
}

section div{
    background-color: black;
    padding: 32px;
    padding-top: 24px;
    border-radius: 8px;
    
}

section  {
        color: white;
        border-radius: 10px;
        padding-top: 4px;
        
        background: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%, #E2D45C 100%);
    }

section ul{
    flex-wrap: wrap;
    display: flex;
    gap: 30px;
    margin-top: 30px;
}

section ul li{
    transition: transform .3s;
}

section ul li:hover{
    transform: scale(1.1);
}


.streamers-list img {
    width: 70px;
    border-radius: 50%;
}

.Games-list img{
    width: 90px;
    border-radius: 8px;

  }


  /*animation*/

 header div{
    animation: fromTop .7s backwards;
    animation-delay: .1s;
}

main section{
    animation: fromBottom .7s backwards;
}

main section:nth-child(1){
    animation-delay: 0;
}

main section:nth-child(2){
    animation-delay: .4s;
}

main section:nth-child(3){
    animation-delay: .8s;
}

  @keyframes fromTop {
    from{
        opacity: 0;
        transform: translateY(-30px)
    }
    to{
        opacity: 1;
        transform: translateY(0)
    }
  }

  @keyframes fromBottom {
    from{
        opacity: 0;
        transform: translateX(30px)
    }
    to{
        opacity: 1;
        transform: translateX(0)
    }

  }

  @keyframes colors {
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
  }